.img-circle {
    border-radius: 50%;
}

#home {
    background-image: url(backgrounds/transparent_logo.png);

    background-color: palegoldenrod;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20%;
}

#officers,
#about_us,
#events,
#archive,
#contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 20%;
}


#officers {
    background-image: url(backgrounds/officers_18_19_dark.jpg);

}

#about_us {
    background-image: url(backgrounds/events_banner.jpg);
}

#events {
    background-image: url(backgrounds/khsa_winter_retreat.jpg);
}

#archive {
    background-image: url(backgrounds/archive_banner.jpg);
}

#contact {
    background-image: url(backgrounds/contact_banner.jpg);
}

#navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#navbar a:hover {
    background: #ddd;
    color: black;
}
