a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

p {
    padding-left: 50px;
}

h2 {
    font-size: 250%;
    padding-left: 30px;
}

h4 {
    padding-left: 30px
}